{extend name="common/base" /}
{block name="title"}商品轮播图列表{/block}
{block name="page_title"}
<h1><i class="fa fa-edit"></i> 商品轮播图列表</h1>
{/block}
{block name="page_path"}
    <li class="breadcrumb-item">商品管理</li>
    <li class="breadcrumb-item">商品轮播图列表</li>
{/block}
{block name="content"}
    <div class="tile">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>商品名称</th>
			  <th>轮播图</th>
            </tr>
          </thead>
          <tbody>
          	{volist name="goodImages" id="goodImage"}
	            <tr>
	              <td>{$goodImage.goodimages_id}</td>
				  <td>{$goodImage.title}</td>
	              <td><img src="{$goodImage.url}" width="60" height="30"></td>
	            </tr>
            {/volist}
          </tbody>
        </table>
        <ul class="pagination">
        	{if condition="$current_page==1"}
		    	<li class="paginate_button page-item previous disabled">
		    		<a href="" aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
		    	</li>
	    	{else /}
	    		<li class="paginate_button page-item previous">
		    		<a href='?page={$current_page-1}' aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
		    	</li>
	    	{/if}
	    	{for start="1" end="$pages+1" step="1" name="page"}
		    	{if condition="$page==$current_page"}
			    	<li class="paginate_button page-item active">
			    		<a href="javascript:;" aria-controls="sampleTable" data-dt-idx="1" tabindex="0" class="page-link">{$page}</a>
			    	</li>
		    	{else /}
			    	<li class="paginate_button page-item ">
			    		<a href='?page={$page}' aria-controls="sampleTable" data-dt-idx="2" tabindex="0" class="page-link">{$page}</a>
			    	</li>
		    	{/if}
	    	{/for}
	    	{if condition="$current_page eq $pages"}   
		    	<li class="paginate_button page-item next disabled">
		    		<a href="#" aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
		    	</li>
	    	{else /}
	    		<li class="paginate_button page-item next">
		    		<a href='?page={$current_page+1}' aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
		    	</li>
	    	{/if}
    	</ul>
    </div>
{/block}
{block name="js"}
<script type="text/javascript">
	$(document).ready(function () {
		$("#m-6").addClass('is-expanded');
        $("#m-6-3").addClass('active');
    })
</script>>
{/block}