{extend name="common/base" /}
{block name="title"}商品列表{/block}
{block name="page_title"}
<h1><i class="fa fa-edit"></i> 商品列表</h1>
{/block}
{block name="page_path"}
    <li class="breadcrumb-item">商品管理</li>
    <li class="breadcrumb-item">商品列表</li>
{/block}
{block name="content"}
    <div class="tile">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>商品名称</th>
			  <th>销售价格</th>
			  <th>市场价格</th>
			  <th>库存</th>
			  <th>点击数</th>
			  <th>封面</th>
			  <th>添加时间</th>
			  <th>操作</th>
            </tr>
          </thead>
          <tbody>
          	{volist name="goods" id="good"}
	            <tr>
	              <td>{$good.id}</td>
				  <td>{$good.title}</td>
				  <td>{$good.sell_price}</td>
				  <td>{$good.market_price}</td>
				  <td>{$good.stock_quantity}</td>
				  <td>{$good.click}</td>
				  <td><img src="{$good.face}" width="60" height="30"></td>
				  <td>{$good.add_time|strtotime|date="Y-m-d H:i:s",###}</td>
				  <td><a href="{:url('index/GoodImages/add')}?id={$good.id}">添加轮播图</a></td>
	            </tr>
            {/volist}
          </tbody>
        </table>
        <ul class="pagination">
        	{if condition="$current_page==1"}
		    	<li class="paginate_button page-item previous disabled">
		    		<a href="" aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
		    	</li>
	    	{else /}
	    		<li class="paginate_button page-item previous">
		    		<a href='?page={$current_page-1}' aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
		    	</li>
	    	{/if}
	    	{for start="1" end="$pages+1" step="1" name="page"}
		    	{if condition="$page==$current_page"}
			    	<li class="paginate_button page-item active">
			    		<a href="javascript:;" aria-controls="sampleTable" data-dt-idx="1" tabindex="0" class="page-link">{$page}</a>
			    	</li>
		    	{else /}
			    	<li class="paginate_button page-item ">
			    		<a href='?page={$page}' aria-controls="sampleTable" data-dt-idx="2" tabindex="0" class="page-link">{$page}</a>
			    	</li>
		    	{/if}
	    	{/for}
	    	{if condition="$current_page eq $pages"}   
		    	<li class="paginate_button page-item next disabled">
		    		<a href="#" aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
		    	</li>
	    	{else /}
	    		<li class="paginate_button page-item next">
		    		<a href='?page={$current_page+1}' aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
		    	</li>
	    	{/if}
    	</ul>
    </div>
{/block}
{block name="js"}
<script type="text/javascript">
	$(document).ready(function () {
		$("#m-6").addClass('is-expanded');
        $("#m-6-1").addClass('active');
    })
</script>>
{/block}